       
    /*
        GENERAL
                */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color:grey;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color:grey;
}

a:hover{
    color:#fff;
}

h2{
    font-size: 1.6rem;
}

h4{
    padding-top:5px;
}



        /*
            UTILITIES
                        */

.flex{
    display:flex;
}

.fixed{
    position:fixed;
    bottom:90px;
    left:10px;
    right:10px;
    width:90%;
}

 .width-30{
    width:26px;
    vertical-align: middle;
}

.base-bar{
    height:4px;
    background:grey;
    border-radius:4px;
 }


/* TEXT */


.subtitle{
    padding-bottom: 30px;
}

.text-center{
    text-align: center;
}

.font-14{
    font-size: 14px;
}

.font-11{
    font-size:11px;
   }

.bold{
    font-weight: 600;
}

.uppercase{
  text-transform: uppercase;
}

.color-white{
    color:#fff;
}

/* PADDING */

.padding-top-100{
    padding-top:100px;
}

.padding-top-40{
    padding-top:40px;
}

.padding-top-60{
    padding-top:60px;
}



        /* 
          MAIN CONTENT
                        */


/* GENERAL CONTENITOR */

.main-content{
    height: calc( 100vh - 80px);
}

.main-content .col-1{
    width: 300px;
    background: black;
}

.main-content .col-2{
    position:relative;
    flex-grow: 1;
    background: #161e27;
}

.app-content{
    justify-content: center;
    height:100%;
    overflow-y:auto ;
}


/* SIDEBAR */

.sidebar{
    padding: 18px;
}


  /* sidebar top */


.sidebar-top .logo{
    padding-bottom: 30px;
    margin-right: 30px;
    width: 150px;
}

.sidebar-top .logo-small{
    display: none;
}

.sidebar-top li {
    padding-bottom: 8px;
}

.sidebar h4{
    padding-top: 15px;
}

.square{
    width: 35px;
    height: 35px;
    margin-right: 5px;
    margin-top: 10px;
    background: grey;
}

.square:hover{
    background:#fff;
}

.fa-plus{
    font-size: 1.2rem;
    color:black;
    line-height: 35px;
}

.plus-playlist{
    align-items: baseline;
}

.new-playlist li{ 
    margin-bottom: 10px;
}


  /* sidebar bottom */

.sidebar-bottom{
    padding-top:260px;
}

.sidebar-bottom .app{
    padding-bottom: 8px;
      border-bottom:1px solid grey;
}

.fa-arrow-alt-circle-down{
    font-size: 12px;
}

.profile img{
    margin-right: 5px;
    background:grey;
    width:25px;
    height:25px;
    border-radius: 50%;
}

.profile{
    align-items: center;
    margin-top: 15px;
}

.profile h3 {
    font-size: 14px;
}


/* UPGRADE */

.header-gallery{
    height:90px;
    background:rgba(0, 0, 0, 0.4);
    position: absolute;
    left:0;
    top:0;
    width:100%;   
    justify-content:flex-end;
    align-items: center;
}

.header-gallery .btn{
    display:flex;
    align-items:center;
    height:30px;
    padding: 20px 30px;
    margin-right: 20px;
    border: 1px solid #fff;
    border-radius: 100px;
    transition: all .3s;

}

.header-gallery .btn:hover{
    transform:scale(1.1);
    
}



/* NAVBAR */

.col-2 nav ul{
    justify-content: center;
}

.col-2 nav li{
    padding-right: 20px;
}

.col-2 nav li a:last-child{
    padding-right: 0;
}


h2.recently{
     padding-bottom: 20px;
}

h2.create-for,
h2.popolar{
    padding-bottom:10px;
}


.container{
    padding: 0px 30px;
    padding-bottom:80px;
}


/* GALLERY */

.gallery{
    flex-wrap: wrap;
}


.gallery.third .col img{
    border-radius: 50%;
    height:100%;
} 


.col{
    width: calc(100% / 6);
    padding: 0 10px;
}

 .song{
    width: 100%;
} 

.song img{
    width: 100%;
    height:100%;
    object-fit:cover;
}

.overlay{
    position:relative;
}

.layover{
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    transition: all .3s;
}
 .layover .fa-play-circle{
     font-size: 60px;
     position:absolute;
     top:50%;
     left:45%;
     transform: translate(-50%,-50%);
     opacity: 0;
     transition: all .3s;
} 

.layover:hover{
    background:rgba(0, 0, 0, .4);
}

.overlay .layover:hover  .fa-play-circle{
    opacity:1;
}

.gallery.third .layover{
    border-radius: 50%;
}


         /*
            FOOTER 
                    */

.app-footer{
    height: 80px;
    background:#060606db;
    justify-content:space-between;
    align-items: center;
}

  /* footer left */

.footer-left img{
      width:40px;
      height: 40px;
  }


.footer-left{
      padding-left: 10px;
      align-items:center;
  }
  
.brano{
    padding-left:10px;
    margin-top: 30px;
}

.fa-heart{
    font-size:15px;
    padding-left:40px;
}

.fa-folder{
    font-size:15px;
    padding-left:15px;
}


 /* footer center */

 .footer-center{
     flex-direction: column;
     align-items:center;
      margin-bottom:10px;
 }

 .footer-center .icon{
     align-items:center;
 }

 .footer-center i{
     padding: 10px;
 }

 .fa-play-circle{
     margin: 0 10px;
     font-size: 1.5rem;
 }

 .footer-center .time{
    align-items:center;
  }

 
 .footer-center .time .bar{
     width:500px;
     margin: 0 25px;
 }

 .footer-center .time .on-bar{
     width: 10%;
    background:#fff;
 }


 /* footer right */
 
.footer-right{
    align-items:center;
}

.footer-right i{
    font-size: 12px;
   margin-right:15px;
}

.footer-right .volume-bar{
    width:100px;
    margin-right:15px;
}

.footer-right .on-bar{
    width:30px;
    background:#fff;
}







/******************************************
           RESPONSIVE
 *****************************************/


/* media MD max 1199px min 768px */

@media screen and (max-width: 1199px) and (min-width:768px){
        

    /* sidebar */

    .sidebar-top .logo{
        width: 120px;
    }

    .sidebar-top .logo-small{
        display:none;
    }

     .sidebar{
        font-size: 12px;
    } 

    /* main */
    .header-gallery a {
        font-size: 12px;
    }


    .col-2 nav ul{
        flex-wrap: wrap;
    }

    .col-2 nav ul li {
        font-size: 12px;
          padding-bottom: 10px;
    }


    .col{
        padding: 10px 4px;
        width: calc(100% / 4 ); 
    }

    .col div{
       font-size:12px;
    }

      /* footer left */

    .footer-left img{
        width:35px;
        height: 35px;
    }

    .brano{
        font-size: 9px;
    }

    .brano div:first-child{
        font-size: 12px;
    }

    .fa-heart{
        padding-left:26px;
    }

    .fa-folder{
        padding-left:8px;
    }

    /* footer center */

    .footer-center .time .bar{
        width:250px;
        margin: 0 25px;
    }
   
    .footer-center .time span{
        font-size: 9px;
    }

    
}



/* media S  max 767px  min 601px */

@media screen and (max-width:767px) and (min-width:601px){

    /* sidebar */

    .sidebar{
        font-size: 12px;
    }

    .sidebar-top .logo{
        width: 120px;
    }

    .sidebar-top .logo-small{
        display:none;
    }

    /* main */
    
    .col-2 nav ul{
        width:90%;
        flex-wrap: wrap;
    } 

    .col-2 nav ul li{
        padding-bottom:25px;
        text-align:center;
        font-size: 13px;
        width: calc(100% / 3);
    } 

     .col-2 nav li{
        padding-right: 0;
    } 


    .col{
        padding-bottom:10px;
        width: calc(100% / 2 ); 
    }

    /* footer left */

     .heart-folder{
         display:flex;
         flex-direction: column;
     }

    .fa-heart,
    .fa-folder{
        font-size:15px;
        padding-left:30px;
        
    }

    /* footer center */
    
    .footer-center .time .bar{
        width:130px;
        margin: 0 25px;
    }
}




/* media xs max 600px min 549px */

@media screen and (max-width: 600px) and (min-width:549px){

      /* display none */

      .sidebar .logo,
      .sidebar nav a,
      .sidebar h4,
      .sidebar .new-playlist,
      .sidebar .app a:last-child,
      .sidebar .profile h3{
          display:none;
      }

    
    /* sidebar */

    .main-content .col-1{
        width: 200px;
    }

    .sidebar .logo-small{
        display:block;
        width:26px;
        height: 40px;
        display:block;
    }

    .sidebar{
        display:flex;
        flex-direction: column;
        align-items: center;
        padding:10px 0;
        
    }

    .sidebar-bottom{
        margin-top: 200px;
    }

    .sidebar-bottom .app{
        padding-left: 6px;
        padding-bottom: 0;
        border-bottom:none;
    }

    .profile{
        align-items: center;
    }


    /* main */

    .col-2 nav ul{
        
        width:100%;
        flex-wrap: wrap;
    } 

    .col-2 nav ul li{
        padding-bottom:30px;
    }


    .col{
        padding-bottom:20px;
        width: calc(100% / 2 ); 
    }



    /* footer left */

    .footer-left img{
        width:28px;
        height: 28px;
    }


    .brano{
        width:50%;
        font-size:9px;
    }

    .heart-folder{
        display:flex;
        flex-direction: column;
    }

    .fa-heart,
    .fa-folder{
    padding-left:8px;
    }

    .fa-heart{
        padding-bottom: 3px;
    }

    /* footer center */

    .footer-center .time .bar{
        width:100px;
        margin: 0 25px;
    }


    .footer-center .time span{
        font-size: 8px;
    }

    /* footer right */


    .footer-right i{
      margin-right:8px;
    }

    .footer-right .volume-bar{
        width:90px
    }  

}